<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.second.main.mapper.UserTokenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.second.main.entity.UserTokenEntity">
        <id column="uuid" property="uuid" />
        <result column="user_id" property="userId" />
        <result column="login_time" property="loginTime" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
        <result column="token" property="token" />
    </resultMap>

</mapper>
